
* {

  margin: 0;
  padding: 0;

}

nav {

  text-align: right;


}

*:focus {
  outline: none;
}

 ul {

  position: relative;
  margin-right: 5px;
  margin-top: 15px;
  font-family: arial;
  font-weight: lighter;
  font-size: 13px;
  width: auto;


}

 li {

  display: inline;
  text-decoration: none;
  padding: 10px;



}



li a {

  color: black;
  text-decoration: none;
  vertical-align: 6px;

}

nav li a:hover {

  text-decoration: underline;

}



.container {


  position: relative;
  padding: 10px;
  top:80px;
  display: block;
  text-align: center;




}

.logo {


    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    width: 50%;
    padding: 10px;



}





.logo img {

    width: 40%;




}

.container input[type="text"] {

 width: 40%;
 height: 30px;
 margin-bottom: 15px;
 box-shadow: 2px 3px 5px #d9d3d3;
 border: 1px solid #f2f2f2;
 color: black;
 padding: 5px;
 font-size: 18px;
 text-indent: 10px;


}

.container input[type="text"]:active{

sele

}

.button {

  display: block;
  padding: 15px;



}

.button input[type="submit"] {

  width: auto;
  height: 40px;
  font-size: 13px;
  margin: 5px;
  padding: 10px;
  color: #757575;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2


}

.button p{

  font-family: arial;
  font-size: 13px;
  font-weight: lighter;




}

.button input[type="Submit"]:hover {


  border: 1px solid #d9d3d3;
  box-shadow: 0px 1px 3px  #d9d3d3;
  color: black;

}

footer {

  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
  background-color: rgb(242, 242, 242);
  overflow: hidden;


}

.foot {

  position: relative;
  text-align: left;
  border: 1px solid rgb(227, 227, 227);
  height: 50%;
  display: block;
  ]

}

.foot p {

   color: black;
   padding: 10px;
   font: 15px arial;
   color:rgb(111, 111, 111);
   text-indent: 30px;



}

.foot a {

 color:rgb(111, 111, 111);
 text-indent: 20px;
 font: 15px arial;


}

.foot li {

  margin-left: 20px;


}

.foot a:hover {


  text-decoration: underline;
}

.foot:first-child {
  border-bottom: none;
}

#first {

  padding: 10px;
  width: 50%;
  float:left;
  margin: 0;
}

#second {

float: right;
width: auto;
margin: 0;
  padding: 10px;
margin-right:20px;


}
