


nav {

  text-align: right;


}

nav ul {

  position: relative;
  margin-right: 5px;
  font-family: arial;
  font-weight: lighter;
  font-size: 14px;
  width: auto;


}

nav li {

  display: inline;
  text-decoration: none;
  padding: 10px;



}



nav li a {

  color: black;
  text-decoration: none;
  vertical-align: 6px;

}

nav li a:hover {

  text-decoration: underline;

}



.container {


  position: relative;
  padding: 10px;
  top:80px;
  display: block;
  text-align: center;
  



}

.logo {


    margin: auto;

    margin-top: 50px;

    width: 50%;



}





.logo img {

    width: 40%;




}

.container input[type="text"] {

 width: 38%;
 height: 25px;
 margin-bottom: 15px;
 box-shadow: 2px 3px 5px #d9d3d3;
 border: 1px solid #f2f2f2;
 color: black;
 padding: 5px;
 font-size: 18px;
 text-indent: 10px;


}

.button {

  display: block;
  padding: 15px;



}

.button input[type="submit"] {

  width: auto;
  height: 40px;
  font-size: 13px;
  margin: 5px;
  padding: 10px;
  color: #757575;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2


}

.button p{

  font-family: arial;
  font-size: 13px;
  font-weight: lighter;




}

.button input[type="Submit"]:hover {


  border: 1px solid #d9d3d3;
  box-shadow: 0px 1px 3px  #d9d3d3;
  color: black;

}
